@{
    Layout = "_Layout";
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container-fluid py-5 spacing">
    <div class="container">
        <div class="bg-light p-5 rounded">
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">Gram Altın</h4>
                        <div class="row">
                            <div class="col-4">
                                <h5>Alış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif; font-size: 1em;" id="gramalis">1</h1>
                            </div>
                            <div class="col-4">
                                <h5>Satış</h5>
                                <h1 style="font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="gramsatis"></h1>
                            </div>
                            <div class="col-4">
                                <h5>Değişim</h5>
                                <div class="clearfix">
                                    <i id="gramyuzdeicon" style="font-size: 25px;"></i>
                                    <h1 style="font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="gramyuzde"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">Çeyrek Altın</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5>Alış</h5>
                                <h1 style="font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="ceyrekalis"></h1>
                            </div>
                            <div class="col-6">
                                <h5>Satış</h5>
                                <h1 style="font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="ceyreksatis"></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">Yarım Altın</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5>Alış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="yarimalis"></h1>
                            </div>
                            <div class="col-6">
                                <h5>Satış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="yarimsatis"></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">22 Ayar</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5>Alış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="yirmiikialis">789</h1>
                            </div>
                            <div class="col-6">
                                <h5>Satış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="yirmiikisatis">789</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">Tam Altın</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5>Alış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="tamalis">789</h1>
                            </div>
                            <div class="col-6">
                                <h5>Satış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="tamsatis">789</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">Gremse Altın</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5>Alış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="gremsealis">789</h1>
                            </div>
                            <div class="col-6">
                                <h5>Satış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="gremsesatis">789</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">Ata Lira</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5>Alış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="ataalis">789</h1>
                            </div>
                            <div class="col-6">
                                <h5>Satış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="atasatis">789</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">Külçe Altın</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5>Alış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="kulcealis">789</h1>
                            </div>
                            <div class="col-6">
                                <h5>Satış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="kulcesatis">789</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">Dolar</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5>Alış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="dolaralis">789</h1>
                            </div>
                            <div class="col-6">
                                <h5>Satış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="dolarsatis">789</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">Euro</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5>Alış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="euroalis">789</h1>
                            </div>
                            <div class="col-6">
                                <h5>Satış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="eurosatis">789</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">EUR/USD</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5>Alış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="eurusdalis">789</h1>
                            </div>
                            <div class="col-6">
                                <h5>Satış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="eurusdsatis">789</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-3">

                        <h4 style="color: #dbbf49;">XAU/USD</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5>Alış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="xauusdalis">1963</h1>
                            </div>
                            <div class="col-6">
                                <h5>Satış</h5>
                                <h1 style=" font-family: 'Open Sans', sans-serif;  font-size: 1em;" id="xauusdsatis">1965</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">Diğer</h4>
                <h1 class="mb-5 display-3 text-primary" style="color: #c54130 !important;">Ürünlerimiz</h1>
                <div class="position-relative mx-auto">

                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded">
                            <img src="~/img/hero-img-11.png" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            <a href="shop.html" class="btn px-4 py-2 text-white rounded">Altınlar</a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="~/img/hero-img-21.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            <a href="shop.html" class="btn px-4 py-2 text-white rounded">Altınlar</a>
                        </div>
                    </div>
                    <button style="background-color: #c54130 !important;" class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button style="background-color: #c54130 !important;" class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

@section Scripts{
    <script src="~/js/script.js"></script>
}