@model List<Altin.Application.Models.News.GetNewsModel>

@{
    ViewBag.Title = "Haberler & Duyurular";
    Layout = "_Layout";
}

<div class="container-fluid py-5"></div>
<!-- News Start -->
<div class="container-fluid testimonial bg-secondary pb-5">
    <div class="container">
        <div class="container-fluid banner">
            <div class="container py-5">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <div class="py-4">
                            <h1 class="display-3 text-white">Son Gelişmeler</h1>
                            <h2>Bizi takip ederek güncel gelişmelere ulaşabilirsiniz</h2>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row">

                    @foreach (var news in Model)
                    {
                        <div class="col-md-6 mb-3">
                            <div class="card mb-3 h-100">
                                <a href="/Haberler/Detay/@news.Slug"><img class="card-img-top newsBannerImg" src="~/img/News/@news.ImageName"></a>
                                <div class="card-body">
                                    <a href="/Haberler/Detay/@news.Slug"><h5 class="card-title">@news.Title</h5></a>
                                    <p class="card-text">@(news.Content.Length <= 200 ? news.Content : news.Content.Substring(0, 200)) ...</p>
                                    <p class="card-text">
                                        <small class="text-muted">@news.CreatedOn.ToString("dd/MM/yyyy - HH:mm")</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News End -->