@{
    ViewBag.Title = "Hakkımızda";
    Layout = "_Layout";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Hakkımızda</h1>
</div>
<!-- Single Page Header End -->

<!-- About Start -->
<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <p>Merhaba! Biz Üresinler Kuyumculuk olarak 1960 yılında Konya'da kurulmuş köklü bir sarrafiye şirketiyiz. O günden bu yana,müşterilerimize kaliteli ürünler ve hizmetler sunmaya adanmış bir geleneğin parçası olduk. Kuruluşumuzdan bu yana;dürüstlük,güvenilirlik ve müşteri memnuniyeti değerlerini ön planda tuttuk. Misyonumuz,müşterilerimize en iyi kaliteyi ve en iyi hizmeti sunartak onların beklentilerini karşılamaktır. Şu anda,hem geleneksel mağaza hem de online platformlar aracılığıyla müşterilerimize hizmet veriyoruz. Mağazalarımızda geniş ürün yelpazemiz ile müşterilerimize hizmet vermekteyiz. Bizi tercih ettiğiniz için teşekkür ederiz. Saygılarımızla</p>
    </div>
</div>
<!-- About End -->